.admin_dashboard {
  background-color: white;
  padding: 5px 0px;
}

.admin_dashboard .dashboard {
  height: 60vh;
  overflow-y: scroll;
}

.admin_dashboard .welcome {
  margin-top: 3rem !important;
  padding: 2rem 1rem;
  align-items: center;
}

.admin_dashboard .admin {
  box-shadow: 0 4px 8px #0000004d;
  background-color: #800020;
  color: white;
}

.admin_dashboard .welcome div span {
  color: rgb(34, 197, 94, 1);
  font-weight: bold;
}

.admin_dashboard .welcome {
  box-shadow: 0 4px 8px #0000004d;
  display: flex;
  font-size: large;
  border-radius: 10px;
  margin: 5px;
}

.admin_dashboard .welcome .welcomeicon {
  color: yellow;
}

.admin_dashboard .adminhr {
  border-top: 1px;
  margin: 5px auto;
  width: 98%;
}

.admin_dashboard .adminfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.adminbalance {
  padding: 15px;
  border-radius: 10px;
  margin: 10px 5px;
  box-shadow: 0 4px 8px #0000004d;
}

.admin_dashboard .withdraw_records {
  border-radius: 10px;
  margin: 10px 5px;
  padding: 5px;
}

.admin_dashboard .withdraw_records .withdraw_records_top {
  display: flex;
  align-items: center;
  font-weight: bold;
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
}

.admin_dashboard
  .withdraw_records
  .withdraw_records_top
  .withdraw_records_icon {
  margin-right: 5px;
  font-size: 20px;
}

.admin_dashboard .withdraw_records .withdraw_records_items {
  height: 50vh;
  overflow-y: scroll;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .admin_dashboard {
    margin: 5px 20% 5px auto;
    width: 40%;
  }

  .dashboard::-webkit-scrollbar {
    display: none;
  }

  .admin_dashboard
    .withdraw_records
    .withdraw_records_items::-webkit-scrollbar {
    display: none;
  }
}
