.contact_wrapper {
  background-color: white;
  padding: 5px 0px;
  height: 100vh;
}

.contact_wrapper h3 {
  margin-left: 5px;
}

.contact_wrapper .contact {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.contact textarea,
.contact button {
  margin: 10px 0px;
}

.contact button {
  color: white;
  border: 0px;
  background-color: #dd2334;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 5px;
  font-size: 15px;
  cursor: pointer;
}

.contact textarea {
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  font-family: system-ui, Segoe UI, sans-serif, color-emoji;
  border: 1px solid #d9e7e2;
  font-style: normal;
  color: black;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .contact_wrapper {
    margin: 5px 20% 5px auto;
    width: 40%;
  }
}
