.forgotpassword {
  width: 90%;
  position: relative;
  top: 4rem;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.forgotpassword form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.forgotpassword form input {
  color: black;
  font-family: system-ui, Segoe UI, sans-serif, color-emoji;
  font-style: normal;
}

.forgotpassword form input,
.forgotpassword form button {
  margin: 0 0 2rem 0;
  padding: 1rem 5px;
  border-radius: 10px;
  border: 1px solid #d9e7e2;
  outline: none;
}

.forgotpassword form button {
  font-size: 15px;
  border: none;
  background-color: #dd2334;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.forgotpassword form .link {
  color: green;
  text-decoration: none;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .forgotpassword {
    margin: 5px auto;
    width: 35%;
  }
}
