.packages_wrapper {
  padding: 5px;
  background-color: white;
  height: 100vh;
}

.packages_wrapper h3 {
  margin-left: 10px;
}

.packages {
  display: flex;
  margin: 0px 5px;
  overflow-x: scroll;
  border-radius: 10px;
}

.basic_package button:enabled,
.standard_package button:enabled,
.supreme_package button:enabled,
.noble_package button:enabled {
  font-family: system-ui, Segoe UI, sans-serif, color-emoji;
  background-color: #2563eb;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
  border: 0px;
  font-weight: bold;
  color: #fdba74;
  cursor: pointer;
  white-space: nowrap;
  font-size: 15px;
  font-style: normal;
}

.basic_package button:disabled,
.standard_package button:disabled,
.supreme_package button:disabled,
.noble_package button:disabled {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #d9e7e2;
  background-color: #ffffff33;
  cursor: not-allowed;
  white-space: nowrap;
  font-size: 15px;
  font-family: system-ui, Segoe UI, sans-serif, color-emoji;
  font-style: normal;
}

.basic_package div,
.standard_package div,
.supreme_package div,
.noble_package div {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.basic_package div h4,
.standard_package div h4,
.supreme_package div h4,
.noble_package div h4 {
  box-shadow: rgba(33, 35, 38, 1) 0px 10px 10px -10px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: bold;
  color: #facc15;
}

.basic_package small,
.standard_package small,
.supreme_package small,
.noble_package small {
  color: #dd2334;
  text-align: center;
  margin-bottom: 5px;
}

.basic_package,
.standard_package,
.supreme_package,
.noble_package {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-between;
  background-color: #31a2db;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin: 0px 5px;
  height: 290px;
  min-width: 200px;
  flex-direction: column;
  white-space: nowrap;
  display: flex;
}

/* PACKAGE */

.package {
  display: flex;
  flex-direction: column !important;
  box-shadow: 0 4px 8px #0000004d;
  display: flex;
  font-size: large;
  border-radius: 10px;
  margin: 5px;
}

.package .servicepackage {
  background-color: #800020;
  color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

.package .servicepackage p {
  margin: 5px 5px 2rem 5px;
  font-size: 25px;
}

.package .servicepackage .membership {
  margin: 5px;
}

.package .servicepackage .membershipbadge {
  font-size: 80px;
  color: #00ff00;
}

.package .servicepackage .nomembershipbadge {
  font-size: 40px;
  color: #00ff00;
}

.package .upgradebtn {
  padding: 5px;
  background-color: #d9e7e2;
  margin: 1rem auto;
  width: 50%;
  border-radius: 10px;
  justify-content: center;
  font-size: 13px;
  color: green;
  cursor: pointer;
  background-color: #dd2334;
  text-decoration: none;
  color: white !important;
  padding: 10px 20px;
}

.package :any-link {
  text-decoration: none;
  color: white;
}

.package .upgradebtn .blockbtn {
  cursor: not-allowed !important;
  pointer-events: none;
}

.package .upgradebtn .upgradeicon {
  color: white;
  font-size: 22px;
}

.package .membership,
.upgradebtn {
  display: flex;
  align-items: center;
  width: fit-content;
}

.giveaway {
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

.giveaway h4 {
  text-align: center;
  text-decoration: underline;
}

.giveaway i {
  color: green;
}

.giveaway img {
  width: 90%;
  margin: 0px auto;
  border-radius: 10px;
}

/* DESKTOP */

@media only screen and (min-width: 768px) {
  .packages_wrapper {
    margin: 5px 20% 5px auto;
    width: 40%;
  }

  .packages::-webkit-scrollbar {
    display: none;
  }
}
